h3 {
	margin-top: .6em;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 19px;
}

h3 a {
	text-decoration: none;
}

body {
    background-color: #ddd;
    background: var(--background-gradient);
}

.text-center {
	text-align: center;
}

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 1em !important; }
.mt-2 { margin-top: 2em !important; }
.mt-3 { margin-top: 3em !important; }
.mt-4 { margin-top: 4em !important; }
.mt-5 { margin-top: 5em !important; }
.mt-6 { margin-top: 6em !important; }
.mt-7 { margin-top: 7em !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 1em !important; }
.mb-2 { margin-bottom: 2em !important; }
.mb-3 { margin-bottom: 3em !important; }
.mb-4 { margin-bottom: 4em !important; }
.mb-5 { margin-bottom: 5em !important; }
.mb-6 { margin-bottom: 6em !important; }
.mb-7 { margin-bottom: 7em !important; }

.ml-1 { margin-left: 1em !important; }
.ml-2 { margin-left: 2em !important; }
.ml-3 { margin-left: 3em !important; }
.ml-4 { margin-left: 4em !important; }
.ml-5 { margin-left: 5em !important; }
.ml-6 { margin-left: 6em !important; }
.ml-7 { margin-left: 7em !important; }

.mr-1 { margin-right: 1em !important; }
.mr-2 { margin-right: 2em !important; }
.mr-3 { margin-right: 3em !important; }
.mr-4 { margin-right: 4em !important; }
.mr-5 { margin-right: 5em !important; }
.mr-6 { margin-right: 6em !important; }
.mr-7 { margin-right: 7em !important; }

.page-container {
    background-color: #fff;
    width: 94%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    padding: 1em 7em;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.54); 
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.54);
}

/* Breadcrumbs */
.breadcrumb {
  list-style: none !important;
  padding: 0 0 1.3em 0;
  margin: 0 0 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px #E1E1E1 solid;
}

.breadcrumb li {
  margin-bottom: 0 !important;
  display: inline-flex;
  align-items: center;
  line-height: normal !important;
  list-style: none !important;
}

.breadcrumb li + li::before {
  content: "›";
  padding: 0 0.8rem;
  color: #bbb;
  font-size: 1.6rem;
  display: inline-block;
}

a, .breadcrumb a {
  color: var(--primary);
  display: inline-block;
}

a:hover, .breadcrumb a:hover {
  color: var(--primary-dark);
  text-decoration: underline;
}

a.button:hover,
a.alt:hover {
  text-decoration: none;
}

.breadcrumb li:last-child {
  color: #555;
  font-weight: normal;
}

.breadcrumb-container {
  margin: 1em auto;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: var(--primary);
  border-color: var(--primary); 
}


.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: var(--primary);
  border-color: var(--primary); }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: var(--primary-dark);
  border-color: var(--primary-dark); }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--primary);
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }








































































































/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--primary-dark); }
a:hover {
  color: var(--primary-dark); }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: var(--primary-darker);
  border-color: var(--primary-darker); }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: var(--primary-dark);
  border-color: var(--primary-dark); }





/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}