main > section:nth-child(1) {
	width: 90%;
	margin: 0 auto;
}

.docs-grid {
	margin: 0 auto;
}

#feature-ref-list {
	margin: 0 auto;
}

/* Style for interactive function/method names */
.feature-ref,
button.feature-ref-btn {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid var(--primary);
    color: #000;
    border-radius: 3px;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    font-family: 'Courier New', monospace;
}

button.feature-ref-btn .fa {
	margin-left: .33em;
	color: var(--primary);
	transition: .6s;
}

button.feature-ref-btn:hover {
	background-color: var(--primary);
	color: #fff;
}

button.feature-ref-btn:hover .fa {
	color: #fff;
}

#feature-ref-modal {
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 1rem;
}

#feature-ref-modal,
#feature-ref-modal table {
	background-color: #fff;
}

#feature-ref-modal > div > h1 {
	font-family: "Inter", sans-serif;
	text-transform: none;
	text-align: left;
	font-size: 33px;
	color: var(--primary);
	margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

#feature-ref-modal p {
	text-align: left;
	font-size: 14px;
}

#feature-ref-modal table {
	font-size: 14px;
}

#feature-ref-modal table th {
	width: max-content;
}

#feature-ref-modal h2 {
	font-family: "Inter", sans-serif;
    margin-top: 1.6em;
    font-size: 21px;
    color: var(--primary);
    font-weight: normal;
}

#feature-ref-modal .signature {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    padding: 10px;
    border-left: 5px solid var(--primary);
    text-align: left;
    font-weight: bold;
    color: #555;
}

#feature-ref-modal .param,
#feature-ref-modal .return {
  background-color: #e0e0e0;
  padding: 10px;
  margin: 10px 0;
  border-left: 3px solid #0056b3;
}

#feature-ref-modal .example {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

#feature-ref-modal pre {
  background-color: #333;
  color: #fff;
  padding: 10px 7px 10px 7px;
  max-width: 100%;
  line-height: 1.4em;
  font-size: 15px;
}

#feature-ref-modal .note {
  font-style: italic;
}

#feature-ref-modal .link a {
  color: #007bff;
  text-decoration: none;
}

#documentation-search-results {
	border: 1px #6767d133 solid;
	width: 840px;
	max-width: 90vw;
	margin: 0 auto;
}

#documentation-search-results > div:nth-child(odd) {
  background-color: #d1b76711;
}

#documentation-search-results > div:nth-child(even) {
	background-color: #6767d111;
	border-top: 1px #6767d133 solid;
	border-bottom: 1px #6767d133 solid;
}

@media (min-width: 1px) {

	h1 {
		font-size: 44px;
	}

	.docs-grid {
		max-width: 500px;
	}

	.docs-row {
		display: flex;
		flex-direction: column-reverse;
	}

	.docs-row > div:nth-child(1) p .button {
		margin-bottom: 4em;
	}

	.docs-row > div:nth-child(1) h3,
	.docs-row > div:nth-child(1) h4 {
		text-align: center;
	}

	.docs-row > div:nth-child(2) {
		width: 84%;
		margin: 0 auto;
	}


	.documentation-search-results-row-lg {
		display: none;
	}

	.documentation-search-results-row-sm {
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 3px;
	}

	.documentation-search-results-row-sm > div:nth-child(1) {
		margin: 7px 3px;
  }

	.documentation-search-results-row-sm > div:nth-child(2) {
		display: flex;
		flex-direction: column;
		padding: 1em;
	}

}

@media (max-width: 550px) {
  button.feature-ref-btn,
  .button.feature-ref-btn {
    width: auto !important;
  }
}

@media (min-width: 550px) {
	.docs-grid {
		max-width: 520px;
	}

	.docs-grid > div > div:nth-child(1) > p:nth-child(4) {
		text-align: center;
	}
}

@media (min-width: 760px) {
	.docs-grid {
		max-width: 700px;
	}

	.docs-row {
		flex-direction: row;
	}

	.docs-grid > div > div:nth-child(1) > p:nth-child(4) {
		text-align: left;
	}

	.docs-grid > div > div:nth-child(2) {
		min-width: 200px;
	}

	.book-cover {
	    padding-left: 12px;
	}
}

@media (min-width: 790px) {

	.documentation-search-results-row-lg {
		display: grid;
		grid-template-columns: 1fr 4fr;
		gap: 1em;
	}

	.documentation-search-results-row-lg > div:nth-child(1) {
		margin: 1em;
  }


	.documentation-search-results-row-lg > div:nth-child(2) {
		display: flex;
		flex-direction: column;
		padding: 1em;
	}

	.documentation-search-results-row-sm {
		display: none;
	}
}

@media (min-width: 1200px) {

    .docs-grid {
    	display: grid;
    	grid-template-columns: repeat(2, 1fr);
    	gap: 1em;
    	max-width: 1200px;
    	gap: 3em;
    }

	.docs-row > div:nth-child(1) h3,
	.docs-row > div:nth-child(1) h4 {
		text-align: left;
		margin-top: 0;
	}

}