:root {
  --primary: #4682b4;
  --primary-dark: #38678f;
  --primary-darker: #294d6b;
  --primary-color: #fff;
  --secondary: #af46b4;
  --border: #c5c5c5;
  --alt: #fff;
  --modal-margin-top: 12vh;
  --success: #4bb446;
  --success-dark: #368532;
  --info: #b2cce1;
  --warning: #b47846;
  --danger: #b4464b;
  --danger-dark: #8f383b;
  --inverse: #333;
  --secondary-dark: #943f99;
  --secondary-darker: #77337a;
  --neutral: #f5f5f5;
}

.text-center {
	text-align: center !important;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
  padding: 1em;
}

#overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.7;
  top: 0;
}

#modal-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.modal {
  width: 90%;
  max-width: 570px;
  z-index: -4;
  background-color: white;
  opacity: 0;
  position: relative;
  margin-top: -160px;
  transition: 0.3s;
}

.modal-body h5 {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#delete-modal p:nth-child(1) {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.modal p:nth-child(3) { margin: 0; }

.modal-heading {
  font-size: 1.2em;
  background-color: var(--primary);
  padding: 12px;
  color: var(--primary-color);
  border: 1px solid var(--primary-darker);
  text-transform: uppercase;
}

.modal-footer {
  font-size: 1.2em;
  background-color: #eee;
  padding: 12px;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid;
  border-color: var(--border) var(--primary-darker) var(--border) var(--primary-darker);
}

.modal-footer button { margin: 6px 0 0 0.3em; font-size: 16px; }
.modal-footer button.alt { background-color: #fefefe; }
.modal-danger { background-color: red; border: 1px #990000 solid; }
.modal-body { padding: 20px; border-left: 1px solid var(--primary-darker); border-right: 1px solid var(--primary-darker); }

.modal .modal-danger,
button.modal-danger {
  background-color: red;
}

.modal textarea {
  font: inherit;
  font-size: 15px;
  margin: 0;
  overflow: auto;
  padding: 8px;
  display: block;
  border: 1px solid #ccc;
  color: #000;
  background-color: #fdf5e6;
  min-height: 7em;
  resize: none;
  line-height: 1.5em;
}

body .modal textarea,
form .modal textarea {
  border: 1px solid #ccc;
  color: #000;
  background-color: #fdf5e6;
}

.video-container {
  --aspect-w: 16;
  --aspect-h: 9;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(100% * (var(--aspect-h) / var(--aspect-w)));
}

.video-container.aspect-4-3 {
  --aspect-w: 4;
  --aspect-h: 3;
}

.video-container.aspect-1-1 {
  --aspect-w: 1;
  --aspect-h: 1;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.modal .form-field-validation-error,
.form-field-validation-error {
  border: 3px #ff0000 solid !important;
  background-color: #ff000011 !important;
}

.modal .validation-error-alert,
.validation-error-alert {
  padding: 12px 12px 0 12px;
  border-radius: 12px;
}

.modal .validation-error-alert h3,
.validation-error-alert h3 {
  margin-top: 0;
  display: flex;
  align-items: center;
  color: #ff0000;
}

.modal .validation-error-report,
.validation-error-report {
  color: #ff0000 !important;
  width: 100%;
}

.modal .validation-error-report > div,
.validation-error-report > div {
  margin-bottom: 7px;
  font-size: 16px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: relative;
  margin: 0.6em;
}

.spinner::after {
  animation: spinning 0.5s infinite linear;
  width: 24px;
  height: 24px;
  background: 0 0;
  border: 3px solid var(--primary);
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  opacity: 1;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.spinner-lhs { justify-content: flex-start; }
.spinner-rhs { justify-content: flex-end; }
.xl { font-size: 1.5em; }
.lg { font-size: 1.3em; }
.sm { font-size: 0.85em; }
.xs { font-size: 0.7em; }

@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.mx-indicator-hidden {
  display: none;
}

#mx-tick,
#mx-cross {
  max-width: 200px;
  min-width: 160px;
  margin: 33px auto;
}

.mx-circ {
  opacity: 0;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.mx-tick {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
  -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
  -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
  -o-transition: stroke-dashoffset 1s 0.5s ease-out;
  transition: stroke-dashoffset 1s 0.5s ease-out;
}

.mx-cross {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-transition: stroke-dashoffset 1s 0.7s ease-out;
  -moz-transition: stroke-dashoffset 1s 0.7s ease-out;
  -ms-transition: stroke-dashoffset 1s 0.7s ease-out;
  -o-transition: stroke-dashoffset 1s 0.7s ease-out;
  transition: stroke-dashoffset 1s 0.7s ease-out;
}

.mx-trigger.mx-drawn .path,
.mx-drawn + svg .path {
  opacity: 1;
  stroke-dashoffset: 0;
}

.flex-row, .flex-column { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }

.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-center { justify-content: center; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }

.align-center { align-items: center; }
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-stretch { align-items: stretch; }

.flex-grow { flex-grow: 1; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

.cloak { display: none; }