/* Trongate Icons - v0.1.0 (Beta) */

/* Base icon class */
.tg {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    /* Improve rendering quality */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* Individual icon styles */
.tg-envelope {
    -webkit-mask-image: url('../trongate-icons/envelope.svg');
    mask-image: url('../trongate-icons/envelope.svg');
}

.tg-envelope-open {
    -webkit-mask-image: url('../trongate-icons/envelope-open.svg');
    mask-image: url('../trongate-icons/envelope-open.svg');
}

.tg-home {
    -webkit-mask-image: url('../trongate-icons/home.svg');
    mask-image: url('../trongate-icons/home.svg');
}

.tg-shopping-basket {
    -webkit-mask-image: url('../trongate-icons/shopping-basket.svg');
    mask-image: url('../trongate-icons/shopping-basket.svg');
}

.tg-shopping-cart {
    -webkit-mask-image: url('../trongate-icons/shopping-cart.svg');
    mask-image: url('../trongate-icons/shopping-cart.svg');
}

.tg-sign-in {
    -webkit-mask-image: url('../trongate-icons/sign-in.svg');
    mask-image: url('../trongate-icons/sign-in.svg');
}

.tg-sign-out {
    -webkit-mask-image: url('../trongate-icons/sign-out.svg');
    mask-image: url('../trongate-icons/sign-out.svg');
}

.tg-star {
    -webkit-mask-image: url('../trongate-icons/star.svg');
    mask-image: url('../trongate-icons/star.svg');
}

.tg-star-half {
    -webkit-mask-image: url('../trongate-icons/star-half.svg');
    mask-image: url('../trongate-icons/star-half.svg');
}

.tg-user {
    -webkit-mask-image: url('../trongate-icons/user.svg');
    mask-image: url('../trongate-icons/user.svg');
}

.tg-user-circle {
    -webkit-mask-image: url('../trongate-icons/user-circle.svg');
    mask-image: url('../trongate-icons/user-circle.svg');
}

.tg-users {
    -webkit-mask-image: url('../trongate-icons/users.svg');
    mask-image: url('../trongate-icons/users.svg');
}