body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.spinner::after {
  border: 3px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
}