body {
  margin: 0;
  color: #111;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background: var(--background-gradient);
  font-size: 1rem;
}

.docs-container {
	min-height: 100vh;
	width: 94%;
	max-width: 1320px;
	margin: 0 auto;
	background-color: #fefefe;
	border-left: 1px #E1E1E1 solid;
	border-right: 1px #E1E1E1 solid;
  padding-bottom: 3em;
}

.docs-container .card {
	background-color: #fff;
}

h1 {
	font-size: 24px;
	text-align: center;
  margin: 1em 0;
}

a {
	color: var(--primary);
}

h2 {
	font-size: 19px;
}

h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
  line-height: 1.3;
}

h3 a {
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
}

.breadcrumb-container {
	padding: .6em 1em;
	border-bottom: 1px #E1E1E1 solid;
}

.breadcrumb-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: .9em;
}

.breadcrumb li {
    margin-bottom: 0 !important;
    display: inline-flex;
    align-items: center;
    line-height: normal !important;
    list-style: none !important;
}

.breadcrumb li + li::before {
  content: "›";
  padding: 0 0.8rem .16em 0.8rem;
  color: #bbb;
  font-size: 1.6rem;
  display: inline-block;
}

.page-content {
	width: 94%;
	margin: 1em auto;
	overflow-x: auto;
}

.page-nav-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.page-nav-btns .button {
  margin-top: 0;
}

.alt {
	border-color: #333;
}

button, .button {
	border-radius: 4px;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: .1rem;
	line-height: 38px;
	font-weight: 600;
	font-size: 12px;
	padding: 0 30px;
	line-height: 2.8em;
}

.docs-books {
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr;
	width: 96%;
	margin: 2em auto;
}

.docs-books .cover {
	cursor: pointer;
}

.docs-books .card-body p {
  font-size: .933em;
  line-height: 1.33em;
}

.docs-page {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 3fr;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; 
}

pre code {
  border: none;
  padding: 0;
  margin: 0;
}

.alert {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  margin: 2em auto 1em auto;
}

.alert>div {
  padding: 22px;
}

.alert-heading {
  font-family: Georgia, serif;
  background-color: #333;
  font-size: 21px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  border-radius: 9px 9px 0 0;
}

.alert-body {
  border: 3px #333 solid;
  font-family: verdana;
  font-size: 14px;
  border-radius: 0 0 9px 9px;
  background-color: #fff;
}

.alert button.alt:hover,
.alert .alt:hover {
    background-color: #fff;
    text-shadow: none;
}

.alert-info>div:nth-child(1) {
  background-color: var(--primary-darker);
}

.alert-info>div:nth-child(2) {
  border-color: var(--primary-darker);
  background-color: #f7f7ff;
}

.alert-success>div:nth-child(1) {
  background-color: #31a131;
}

.alert-success>div:nth-child(2) {
  border-color: #31a131;
  background-color: #31a13111;
}

.alert-success button,
.alert-success .button {
    background-color: #31a131;
    border: 1px #2f6f2f solid;
    color: #eee;
}

.alert-success button:hover,
.alert-success .button:hover {
    background-color: #2f6f2f;
    border: 1px #2f6f2f solid;
    color: #fff;
}

.alert-success button.alt,
.alert-success .alt {
    background-color: transparent;
    border: 1px #378537 solid;
    color: #2f6f2f;
}

.alert-success button.alt:hover,
.alert-success .alt:hover {
    background-color: #fff;
    border: 1px #2f6f2f solid;
    color: #2f6f2f;
}

.alert-warning>div:nth-child(1) {
  background-color: #c58340;
}

.alert-warning>div:nth-child(2) {
  border-color: #c58340;
  background-color: #c5834022;
}

.alert-warning button,
.alert-warning .button {
    background-color: #c58340;
    border: 1px #b17c46 solid;
    color: #eee;
}

.alert-warning button:hover,
.alert-warning .button:hover {
    background-color: #b17c46;
    border: 1px #b17c46 solid;
    color: #fff;
}

.alert-warning button.alt,
.alert-warning .alt {
    background-color: transparent;
    border: 1px #b17c46 solid;
    color: #b17c46;
}

.alert-warning button.alt:hover,
.alert-warning .alt:hover {
    background-color: #fff;
    border: 1px #b17c46 solid;
    color: #b17c46;
}

.alert-danger>div:nth-child(1) {
  background-color: #c54040;
}

.alert-danger>div:nth-child(2) {
  border-color: #c54040;
  background-color: #c5404022;
}

.code-sample {
  width: 100%;
  margin: 0 auto 1em auto;
  overflow: auto; 
  max-width: 840px;
}

.code-block-header {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .6em 1em 0 1em;
}

.copy-icon-container {
  cursor: pointer;
  font-size: 1em;
}

button.feature-ref-btn {
  text-transform: none;
  padding: .2em 1em .3em 1em;
  font-size: .9em;
  line-height: 1.1em;
  margin-top: 3px;
}

button.feature-ref-btn .fa {
  font-size: 1.1em;
}

.params-table tr td:nth-child(2),
.params-table tr td:nth-child(4),
.params-table tr td:nth-child(5) {
  text-align: center;
}

.params-table tr td:nth-child(4) {
  min-width: 10em;
}

#feature-ref-information table tr > th:nth-child(1), 
#feature-ref-information table tr > td:nth-child(1) {
    width: min-content;
}


@media screen and (min-width: 550px) {
  h1 {
  	font-size: 27px;
  }

  h2 {
  	font-size: 23px;
  }

  h3 {
  	font-size: 18px;
  }

   .docs-books {
  	grid-template-columns: 1fr 1fr;
  }

}

@media screen and (min-width: 760px) {
  h1 {
  	font-size: 30px;
  }

  h2 {
  	font-size: 26px;
  }

  h3 {
  	font-size: 19px;
  }

   .docs-books {
  	grid-template-columns: repeat(3, 1fr);
  }

}

@media screen and (min-width: 1000px) {
  h1 {
  	font-size: 33px;
  }

}

@media screen and (min-width: 1320px) {
  h1 {
  	font-size: 37px;
  }

   .docs-books {
  	grid-template-columns: repeat(4, 1fr);
  }
}